# 🔐 Credentials & tokens
credentials/credentials.json
credentials/state.json
credentials/token.json

# 🐍 Python cache
__pycache__/
*.pyc

# 🌱 Virtual environment
venv/
.env

# 💻 OS files
.DS_Store
Thumbs.db

# 📝 Logs
*.log
